/* basic styling */

li {
    list-style: none;
    padding: 20px 30px;
}

li a {
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
}

li a:hover {
    border-bottom: 5px solid var(--secondaryColor);
}

.logoNav {
    margin: 5px;
    padding: 0;
    width: auto;
}

.mobileOnly img{
    width: 40px;
}

.logoNav a:hover{
    border: none;
}

/* overlay menu, that shows one click */
.overlayMenu {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    transform: translate(0%);
    transition: all 0.2s ease;
    max-width: 550px;
    box-shadow: 4px 10px 10px #dedede59;
    z-index: 10;
}

.hideMenu {
    transform: translate(-100%);
    position: absolute;
    transition: all 0.2s ease;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    transition: all 0.2s ease;
    max-width: 550px;
    box-shadow: 4px 10px 10px #dedede59;
    z-index: 10;
}

/* hamburger */
.mobileMenu {
    position: absolute;
    z-index: 15;
    border: none;
    left: 30px;
    top: 35px;
    background-color: transparent;
    cursor: pointer;
}

.line {
    height: 4px;
    background-color: #4A4A45;
    width: 35px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    display: block;
    border-radius: 3px;
}

.line1 {
    transform: rotate(45deg) translate(0px, 6px);
    height: 4px;
    background-color: #4A4A45;
    width: 35px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    border-radius: 3px;
}

.line2 {
    display: none;
    transition: all 3s ease;
}

.line3 {
    transform: rotate(-45deg) translate(0px, -6px);
    height: 4px;
    background-color: #4A4A45;
    width: 35px;
    transition: all 0.3s ease;
    border-radius: 3px;
    margin-bottom: 5px;
}

/* CTA */
.links li:last-of-type {
    margin-top: 10px;
}

/* hide big logo on mobile */
.desktopOnly {
    display: none;
}

/* mobile logo */
.mobileOnly {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 15;
}

nav {
    height: 90px;
    background-color: #fff;
}

/* ---------------------MEDIAQUERIES------------- */
@media all and (min-width: 1100px) {

    /* hide hamburger */
    .mobileMenu {
        display: none;
    }

    .desktopOnly {
        display: block;
    }

    .mobileOnly {
        display: none;
    }

    .hideMenu {
        background-color: #fff;
        position: inherit;
        width: 100%;
        height: inherit;
        text-align: center;
        transform: translate(0%);
        transition: all 0.2s ease;
        max-width: none;
        box-shadow: none;
    }

    .links {
        display: flex;
        align-items: center;
    }

    nav {
        height: auto;
    }

    li a {
        font-size: 2.1rem;
    }

    nav {
        padding-top: 15px;
    }

    /* CTA */
    .links li:last-of-type {
        margin-top: 0px;
    }

    .links li {
        width: 80px;
    }

    .logoNav {
        width: 160px !important;
        padding: 5px 15px;
    }

    /* CTA */
    .links li:last-of-type {
        margin-top: 0px;
        width: 170px;
        margin-right: -80px;
    }


    .links li:last-of-type:hover {
        margin-top: 0px;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }


    .primaryButton:hover {
        text-decoration: none;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }

}