.mainServices {
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 5vh 20px 5vh 20px;
}

.smallHR {
    margin: 3vh auto;
    width: 60%;
}

.boldText {
    font-weight: 600;
}

/* packages with explanation */
.packagesContainer {
    margin: 7vh 20px;
}

.containerIncludes{
    max-width: 700px;
    margin: auto;
}

.containerIncludes {
    padding-top: 40px;
}

.containerIncludes ul {
    padding-top: 5px;
    padding-bottom: 15px;
}

.containerIncludes li {
    padding: 0;
    margin: 10px 0px 10px 20px;
    list-style-type: disc;
}

.packagesContainer h2 {
    margin-top: 20px;
    font-size: 3.5rem;
    font-weight: 500;
}

.packagesContainer p {
    margin-bottom: 10px;
}

.packagesContainer img {
    width: 100%;
    border-radius: 200px 200px 20px 20px;
}

.packagesContainer li {
    padding: 0;
    margin: 10px 0px 10px 20px;
    list-style-type: disc;
}

.packagesContainer{
    display: grid;
    padding-top: 30px;
}

.packageExplanationLeft{
    order: 2;
}

.monthlyPackage{
    padding-bottom: 8vh;
    margin-top: 5vh;
}

.imageRight{
    order: 1;
}

.priceList{
    max-width: 500px;
    margin: 0px auto -30px auto;
    padding: 2vh 20px;
    text-align: center;
}

.priceList p{
    max-width: 400px;
    margin: auto;
}

.priceList p{
    margin-bottom: -4vh;
}

.contactPackagesDiv{
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

@media all and (min-width: 800px) {
    .mainServices {
        padding-top: 8vh;
    }

    .imageContainer {
        width: 30%;
        display: flex;
    }

    .smallHR {
        margin: 3vh auto;
        width: 25%;
    }

    .packageExplanationLeft{
        order: 1;
    }
    
    .imageRight{
        order: 2;
    }

    .packagesContainer {
        display: flex;
        max-width: 800px;
        margin: 4vh auto;
        align-items: center;
    }

    .packageExplanation {
        margin-left: 40px;
        width: 70%;
    }

    .imageRight {
        margin-left: 40px;
        width: 40%;
        min-width: 240px;
    }


    .packagesContainer img {
        width: 100%;
        border-radius: 200px 200px 20px 20px;
    }
}