/* main text */
.mainText {
    margin: 5vh auto;
    text-align: center;
}

@media all and (min-width: 800px) {
    .mainText {
        margin: 8vh auto;
    }
}

/* masonry CSS */
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    width: auto;
    padding: 0px 5px 5vh 5px;
  }
  .my-masonry-grid_column {
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 5px;
  }

  @media all and (min-width: 1100px) {
    .my-masonry-grid {
        max-width: 1100px;
        margin: auto;
      }
}

/* hide caption[ lightbox */
.SRLCaptionText{
  display: none;
}